<h2 class="process-title-summary">
  <%=t "sortition.new.title", scope: "decidim.admin" %>
</h2>

<%= decidim_form_for(@form, html: { class: "form new_sortition" }) do |f| %>
  <%= render partial: "form", object: f %>

  <div class="button--double form-general-submit">
    <%= f.submit t("sortition.new.create", scope: "decidim.admin"),
                 data: { confirm: t("sortition.new.confirm", scope: "decidim.admin")} %>
  </div>
<% end %>
